.FooterDiv{
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 120px;
    background-color: #09645B;
    color: white;
    font-family: Lato;
}
.namtesLogo{
    width: 200px;
    margin-bottom: 20px;
}
.FooterInfosDiv{
    display: flex;
    gap: 120px;
}

.FooterInfos h3{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 8px;
    
}
.FooterInfoss{
    margin-right: 200px;
}
.FooterInfoss h3{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 8px;
}
.footer-icons I{
    margin-right: 25px;
}